# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Variables de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log

# Datos locales
data/
*.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/


//nicoazcuy_db_user
// 4NPRpCdtj8D4Nob8